.container {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.container h2 {
    color: mediumblue;
    
}
.container p {
    color: blueviolet;
}