.container {
    display: grid;
    grid-template-columns: 180px;
    gap: 3px;
    justify-content: center;
}

.grid {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}
.container1 {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 3px;
    justify-content: center;
}
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkcyan;
}
.white {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.black {
    background-color: black;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.red {
   background-color: red;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    color: white; 
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
