.container {
    width: 300px;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: violet;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
}
.container h2 {
    font-style: italic;
    text-align: center;
    color: blueviolet;
}
.box {
    background-color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
    margin: 30px;

}